<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Team</key>
		<string>ANA</string>
		<key>Arena</key>
		<string>Honda Center</string>
		<key>Lat</key>
		<string>33.80693</string>
		<key>Long</key>
		<string>-117.876155</string>
		<key>City</key>
		<string>Anaheim</string>
		<key>State/Province</key>
		<string>CA</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>ATL</string>
		<key>Arena</key>
		<string>Philips Arena</string>
		<key>Lat</key>
		<string>33.769658</string>
		<key>Long</key>
		<string>-84.392166</string>
		<key>City</key>
		<string>Atlanta</string>
		<key>State/Province</key>
		<string>GA</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>BOS</string>
		<key>Arena</key>
		<string>TD Garden</string>
		<key>Lat</key>
		<string>42.366303</string>
		<key>Long</key>
		<string>-71.062228</string>
		<key>City</key>
		<string>Boston</string>
		<key>State/Province</key>
		<string>MA</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>BUF</string>
		<key>Arena</key>
		<string>HSBC Arena</string>
		<key>Lat</key>
		<string>42.875</string>
		<key>Long</key>
		<string>-78.876389</string>
		<key>City</key>
		<string>Buffalo</string>
		<key>State/Province</key>
		<string>NY</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>CAR</string>
		<key>Arena</key>
		<string>RBC Center</string>
		<key>Lat</key>
		<string>35.803333</string>
		<key>Long</key>
		<string>-78.721944</string>
		<key>City</key>
		<string>Raleigh</string>
		<key>State/Province</key>
		<string>NC</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>CBJ</string>
		<key>Arena</key>
		<string>Nationwide Arena</string>
		<key>Lat</key>
		<string>39.969283</string>
		<key>Long</key>
		<string>-83.006111</string>
		<key>City</key>
		<string>Columbus</string>
		<key>State/Province</key>
		<string>OH</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>CGY</string>
		<key>Arena</key>
		<string>Pengrowth Saddledome</string>
		<key>Lat</key>
		<string>51.0375</string>
		<key>Long</key>
		<string>-114.051944</string>
		<key>City</key>
		<string>Calgary</string>
		<key>State/Province</key>
		<string>AB</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>CHI</string>
		<key>Arena</key>
		<string>United Center</string>
		<key>Lat</key>
		<string>41.880556</string>
		<key>Long</key>
		<string>-87.674167</string>
		<key>City</key>
		<string>Chicago</string>
		<key>State/Province</key>
		<string>IL</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>COL</string>
		<key>Arena</key>
		<string>Pepsi Center</string>
		<key>Lat</key>
		<string>39.748611</string>
		<key>Long</key>
		<string>-105.0075</string>
		<key>City</key>
		<string>Denver</string>
		<key>State/Province</key>
		<string>CO</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>DAL</string>
		<key>Arena</key>
		<string>American Airlines Center</string>
		<key>Lat</key>
		<string>32.790556</string>
		<key>Long</key>
		<string>-96.810278</string>
		<key>City</key>
		<string>Dallas</string>
		<key>State/Province</key>
		<string>TX</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>DET</string>
		<key>Arena</key>
		<string>Joe Louis Arena</string>
		<key>Lat</key>
		<string>42.325278</string>
		<key>Long</key>
		<string>-83.051389</string>
		<key>City</key>
		<string>Detroit</string>
		<key>State/Province</key>
		<string>MI</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>EDM</string>
		<key>Arena</key>
		<string>Rexall Place</string>
		<key>Lat</key>
		<string>53.571389</string>
		<key>Long</key>
		<string>-113.456111</string>
		<key>City</key>
		<string>Edmonton</string>
		<key>State/Province</key>
		<string>AB</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>FLA</string>
		<key>Arena</key>
		<string>Bank Atlantic Center</string>
		<key>Lat</key>
		<string>26.158333</string>
		<key>Long</key>
		<string>-80.325556</string>
		<key>City</key>
		<string>Sunrise</string>
		<key>State/Province</key>
		<string>FL</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>LAK</string>
		<key>Arena</key>
		<string>Staples Center</string>
		<key>Lat</key>
		<string>34.043056</string>
		<key>Long</key>
		<string>-118.267222</string>
		<key>City</key>
		<string>Los Angeles</string>
		<key>State/Province</key>
		<string>CA</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>MIN</string>
		<key>Arena</key>
		<string>Xcel Energy Center</string>
		<key>Lat</key>
		<string>44.944722</string>
		<key>Long</key>
		<string>-93.101111</string>
		<key>City</key>
		<string>St. Paul</string>
		<key>State/Province</key>
		<string>MN</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>MTL</string>
		<key>Arena</key>
		<string>Bell Centre</string>
		<key>Lat</key>
		<string>45.496111</string>
		<key>Long</key>
		<string>-73.569444</string>
		<key>City</key>
		<string>Montreal</string>
		<key>State/Province</key>
		<string>QC</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>NJD</string>
		<key>Arena</key>
		<string>Prudential Center</string>
		<key>Lat</key>
		<string>40.733611</string>
		<key>Long</key>
		<string>-74.171111</string>
		<key>City</key>
		<string>Newark</string>
		<key>State/Province</key>
		<string>NJ</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>NSH</string>
		<key>Arena</key>
		<string>Sommet Center</string>
		<key>Lat</key>
		<string>36.159167</string>
		<key>Long</key>
		<string>-86.778611</string>
		<key>City</key>
		<string>Nashville</string>
		<key>State/Province</key>
		<string>TN</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>NYI</string>
		<key>Arena</key>
		<string>Nassau Coliseum</string>
		<key>Lat</key>
		<string>40.722778</string>
		<key>Long</key>
		<string>-73.590556</string>
		<key>City</key>
		<string>Uniondale</string>
		<key>State/Province</key>
		<string>NY</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>NYR</string>
		<key>Arena</key>
		<string>Madison Square Garden</string>
		<key>Lat</key>
		<string>40.750556</string>
		<key>Long</key>
		<string>-73.993611</string>
		<key>City</key>
		<string>New York City</string>
		<key>State/Province</key>
		<string>NY</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>OTT</string>
		<key>Arena</key>
		<string>Scotiabank Place</string>
		<key>Lat</key>
		<string>45.296944</string>
		<key>Long</key>
		<string>-75.927222</string>
		<key>City</key>
		<string>Ottawa</string>
		<key>State/Province</key>
		<string>ON</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>PHI</string>
		<key>Arena</key>
		<string>Wachovia Center</string>
		<key>Lat</key>
		<string>39.901111</string>
		<key>Long</key>
		<string>-75.171944</string>
		<key>City</key>
		<string>Philadelphia</string>
		<key>State/Province</key>
		<string>PA</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>PHX</string>
		<key>Arena</key>
		<string>Jobing.com Arena</string>
		<key>Lat</key>
		<string>33.531944</string>
		<key>Long</key>
		<string>-112.261111</string>
		<key>City</key>
		<string>Glendale</string>
		<key>State/Province</key>
		<string>AZ</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>PIT</string>
		<key>Arena</key>
		<string>The Igloo</string>
		<key>Lat</key>
		<string>40.441667</string>
		<key>Long</key>
		<string>-79.99</string>
		<key>City</key>
		<string>Pittsburgh</string>
		<key>State/Province</key>
		<string>PA</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>SJS</string>
		<key>Arena</key>
		<string>The Shark Tank</string>
		<key>Lat</key>
		<string>37.332778</string>
		<key>Long</key>
		<string>-121.901111</string>
		<key>City</key>
		<string>San Jose</string>
		<key>State/Province</key>
		<string>CA</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>STL</string>
		<key>Arena</key>
		<string>Scottrade Center</string>
		<key>Lat</key>
		<string>38.626667</string>
		<key>Long</key>
		<string>-90.2025</string>
		<key>City</key>
		<string>St. Louis</string>
		<key>State/Province</key>
		<string>MO</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>TBL</string>
		<key>Arena</key>
		<string>St. Pete Times Forum</string>
		<key>Lat</key>
		<string>27.942778</string>
		<key>Long</key>
		<string>-82.451944</string>
		<key>City</key>
		<string>Tampa</string>
		<key>State/Province</key>
		<string>FL</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>TOR</string>
		<key>Arena</key>
		<string>Air Canada Centre</string>
		<key>Lat</key>
		<string>43.643333</string>
		<key>Long</key>
		<string>-79.379167</string>
		<key>City</key>
		<string>Toronto</string>
		<key>State/Province</key>
		<string>ON</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>VAN</string>
		<key>Arena</key>
		<string>The Garage</string>
		<key>Lat</key>
		<string>49.277778</string>
		<key>Long</key>
		<string>-123.108889</string>
		<key>City</key>
		<string>Vancouver</string>
		<key>State/Province</key>
		<string>BC</string>
	</dict>
	<dict>
		<key>Team</key>
		<string>WSH</string>
		<key>Arena</key>
		<string>Verizon Center</string>
		<key>Lat</key>
		<string>38.898056</string>
		<key>Long</key>
		<string>-77.020833</string>
		<key>City</key>
		<string>Washington</string>
		<key>State/Province</key>
		<string>DC</string>
	</dict>
</array>
</plist>
