<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>md5</key>
	<string>46619a982801e9644074a0f0b9088188</string>
	<key>players</key>
	<dict>
		<key>ANA</key>
		<array>
			<string>Artyukhin E.</string>
			<string>Beleskey M.</string>
			<string>Bodie T.</string>
			<string>Brown M.</string>
			<string>Calder K.</string>
			<string>Carter R.</string>
			<string>Chipchura K.</string>
			<string>Getzlaf R.</string>
			<string>Koivu S.</string>
			<string>Lupul J.</string>
			<string>Marchant T.</string>
			<string>Nokelainen P.</string>
			<string>Parros G.</string>
			<string>Perry C.</string>
			<string>Ryan B.</string>
			<string>Selanne T.</string>
			<string>Sexton D.</string>
			<string>Sharp M.</string>
			<string>Boynton N.</string>
			<string>Brookbank S.</string>
			<string>Eminger S.</string>
			<string>Festerling B.</string>
			<string>Mikkelson B.</string>
			<string>Niedermayer S.</string>
			<string>Salcido B.</string>
			<string>Sbisa L.</string>
			<string>Whitney R.</string>
			<string>Wisniewski J.</string>
			<string>Giguere J.</string>
			<string>Hiller J.</string>
			<string>Pogge J.</string>
		</array>
		<key>ATL</key>
		<array>
			<string>Afinogenov M.</string>
			<string>Antropov N.</string>
			<string>Armstrong C.</string>
			<string>Boulton E.</string>
			<string>Crabb J.</string>
			<string>Gratton J.</string>
			<string>Kane E.</string>
			<string>Kovalchuk I.</string>
			<string>Kozlov V.</string>
			<string>Krog J.</string>
			<string>Little B.</string>
			<string>Machacek S.</string>
			<string>Peverley R.</string>
			<string>Reasoner M.</string>
			<string>Slater J.</string>
			<string>Stapleton T.</string>
			<string>Sterling B.</string>
			<string>Stewart A.</string>
			<string>Thorburn C.</string>
			<string>White T.</string>
			<string>Bogosian Z.</string>
			<string>Enstrom T.</string>
			<string>Hainsey R.</string>
			<string>Kubina P.</string>
			<string>Lehman S.</string>
			<string>Lewis G.</string>
			<string>Oystrick N.</string>
			<string>Popovic M.</string>
			<string>Salmela A.</string>
			<string>Schubert C.</string>
			<string>Valabik B.</string>
			<string>Vernace M.</string>
			<string>Welch N.</string>
			<string>Hedberg J.</string>
			<string>Lehtonen K.</string>
			<string>Mannino P.</string>
			<string>Pavelec O.</string>
		</array>
		<key>BOS</key>
		<array>
			<string>Begin S.</string>
			<string>Bergeron P.</string>
			<string>Bitz B.</string>
			<string>Krejci D.</string>
			<string>Lefebvre G.</string>
			<string>Lehtonen M.</string>
			<string>Lucic M.</string>
			<string>Marchand B.</string>
			<string>Nelson L.</string>
			<string>Paille D.</string>
			<string>Recchi M.</string>
			<string>Ryder M.</string>
			<string>Savard M.</string>
			<string>Sobotka V.</string>
			<string>Sturm M.</string>
			<string>Thornton S.</string>
			<string>Weller C.</string>
			<string>Wheeler B.</string>
			<string>Whitfield T.</string>
			<string>Boychuk J.</string>
			<string>Chara Z.</string>
			<string>Ference A.</string>
			<string>Hunwick M.</string>
			<string>Morris D.</string>
			<string>Stuart M.</string>
			<string>Wideman D.</string>
			<string>Wozniewski A.</string>
			<string>Rask T.</string>
			<string>Sabourin D.</string>
			<string>Thomas T.</string>
		</array>
		<key>BUF</key>
		<array>
			<string>Connolly T.</string>
			<string>Ellis M.</string>
			<string>Ennis T.</string>
			<string>Gaustad P.</string>
			<string>Gerbe N.</string>
			<string>Grier M.</string>
			<string>Hecht J.</string>
			<string>Kaleta P.</string>
			<string>Kennedy T.</string>
			<string>MacArthur C.</string>
			<string>Mair A.</string>
			<string>Mancari M.</string>
			<string>McCormick C.</string>
			<string>Pominville J.</string>
			<string>Roy D.</string>
			<string>Stafford D.</string>
			<string>Vanek T.</string>
			<string>Butler C.</string>
			<string>Gragnani M.</string>
			<string>Lydman T.</string>
			<string>Montador S.</string>
			<string>Myers T.</string>
			<string>Paetsch N.</string>
			<string>Rivet C.</string>
			<string>Sekera A.</string>
			<string>Tallinder H.</string>
			<string>Weber M.</string>
			<string>Enroth J.</string>
			<string>Lalime P.</string>
			<string>Miller R.</string>
		</array>
		<key>CAR</key>
		<array>
			<string>Boychuk Z.</string>
			<string>Brind'Amour R.</string>
			<string>Cole E.</string>
			<string>Conboy T.</string>
			<string>Cullen M.</string>
			<string>Dwyer P.</string>
			<string>Goertzen S.</string>
			<string>Jokinen J.</string>
			<string>Kostopoulos T.</string>
			<string>Larose C.</string>
			<string>Ruutu T.</string>
			<string>Ryan M.</string>
			<string>Samsonov S.</string>
			<string>Staal E.</string>
			<string>Sutter B.</string>
			<string>Tlusty J.</string>
			<string>Walker S.</string>
			<string>Whitney R.</string>
			<string>Yelle S.</string>
			<string>Alberts A.</string>
			<string>Babchuk A.</string>
			<string>Borer C.</string>
			<string>Carson B.</string>
			<string>Corvo J.</string>
			<string>Gleason T.</string>
			<string>Harrison J.</string>
			<string>Pitkanen J.</string>
			<string>Rodney B.</string>
			<string>Wallin N.</string>
			<string>Ward A.</string>
			<string>Legace M.</string>
			<string>Leighton M.</string>
			<string>Ward C.</string>
		</array>
		<key>CBJ</key>
		<array>
			<string>Blunden M.</string>
			<string>Boll J.</string>
			<string>Brassard D.</string>
			<string>Chimera J.</string>
			<string>Dorsett D.</string>
			<string>Filatov N.</string>
			<string>Huselius K.</string>
			<string>Lavallee-Smotherman J.</string>
			<string>MacKenzie D.</string>
			<string>Mayorov M.</string>
			<string>Modin F.</string>
			<string>Murray A.</string>
			<string>Nash R.</string>
			<string>Pahlsson S.</string>
			<string>Pelletier P.</string>
			<string>Picard A.</string>
			<string>Sestito T.</string>
			<string>Torres R.</string>
			<string>Umberger R.</string>
			<string>Vermette A.</string>
			<string>Voracek J.</string>
			<string>Commodore M.</string>
			<string>Hejda J.</string>
			<string>Klesla R.</string>
			<string>Methot M.</string>
			<string>Roy M.</string>
			<string>Russell K.</string>
			<string>Stralman A.</string>
			<string>Tyutin F.</string>
			<string>Garon M.</string>
			<string>Lacosta D.</string>
			<string>Mason S.</string>
		</array>
		<key>CGY</key>
		<array>
			<string>Armstrong R.</string>
			<string>Backlund M.</string>
			<string>Bourque R.</string>
			<string>Boyd D.</string>
			<string>Chucko K.</string>
			<string>Conroy C.</string>
			<string>Dawes N.</string>
			<string>Glencross C.</string>
			<string>Iginla J.</string>
			<string>Jaffray J.</string>
			<string>Jokinen O.</string>
			<string>Langkow D.</string>
			<string>Lundmark J.</string>
			<string>McGrattan B.</string>
			<string>Moss D.</string>
			<string>Murray G.</string>
			<string>Nystrom E.</string>
			<string>Prust B.</string>
			<string>Sjostrom F.</string>
			<string>Stuart C.</string>
			<string>Sutter B.</string>
			<string>Van Der Gulik D.</string>
			<string>Bouwmeester J.</string>
			<string>Giordano M.</string>
			<string>Johnson A.</string>
			<string>Kronwall S.</string>
			<string>Negrin J.</string>
			<string>Pardy A.</string>
			<string>Pelech M.</string>
			<string>Phaneuf D.</string>
			<string>Regehr R.</string>
			<string>Sarich C.</string>
			<string>Kiprusoff M.</string>
			<string>McElhinney C.</string>
		</array>
		<key>CHI</key>
		<array>
			<string>Bickell B.</string>
			<string>Bolland D.</string>
			<string>Brouwer T.</string>
			<string>Burish A.</string>
			<string>Byfuglien D.</string>
			<string>Dowell J.</string>
			<string>Eager B.</string>
			<string>Fraser C.</string>
			<string>Greentree K.</string>
			<string>Hossa M.</string>
			<string>Kane P.</string>
			<string>Kopecky T.</string>
			<string>Ladd A.</string>
			<string>Madden J.</string>
			<string>Sharp P.</string>
			<string>Skille J.</string>
			<string>Toews J.</string>
			<string>Versteeg K.</string>
			<string>Barker C.</string>
			<string>Campbell B.</string>
			<string>Hendry J.</string>
			<string>Hjalmarsson N.</string>
			<string>Keith D.</string>
			<string>Petiot R.</string>
			<string>Seabrook B.</string>
			<string>Sopel B.</string>
			<string>Huet C.</string>
			<string>Niemi A.</string>
		</array>
		<key>COL</key>
		<array>
			<string>Duchene M.</string>
			<string>Dupuis P.</string>
			<string>Durno C.</string>
			<string>Galiardi T.</string>
			<string>Hejduk M.</string>
			<string>Hendricks M.</string>
			<string>Hensick T.</string>
			<string>Jones D.</string>
			<string>Koci D.</string>
			<string>McLeod C.</string>
			<string>O'Reilly R.</string>
			<string>Stastny P.</string>
			<string>Stewart C.</string>
			<string>Svatos M.</string>
			<string>Tucker D.</string>
			<string>Willsie B.</string>
			<string>Wolski W.</string>
			<string>Clark B.</string>
			<string>Cumiskey K.</string>
			<string>Fahey B.</string>
			<string>Foote A.</string>
			<string>Hannan S.</string>
			<string>Liles J.</string>
			<string>Macias R.</string>
			<string>O'Neill W.</string>
			<string>Peltier D.</string>
			<string>Preissing T.</string>
			<string>Quincey K.</string>
			<string>Salei R.</string>
			<string>Skinner B.</string>
			<string>Wilson R.</string>
			<string>Anderson C.</string>
			<string>Budaj P.</string>
			<string>Weiman T.</string>
		</array>
		<key>DAL</key>
		<array>
			<string>Barch K.</string>
			<string>Benn J.</string>
			<string>Brunnstrom F.</string>
			<string>Eriksson L.</string>
			<string>Gagnon A.</string>
			<string>Lehtinen J.</string>
			<string>Lindgren P.</string>
			<string>Modano M.</string>
			<string>Morrow B.</string>
			<string>Neal J.</string>
			<string>Ott S.</string>
			<string>Peters W.</string>
			<string>Petersen T.</string>
			<string>Ribeiro M.</string>
			<string>Richards B.</string>
			<string>Sawada R.</string>
			<string>Sutherby B.</string>
			<string>Wandell T.</string>
			<string>Wathier F.</string>
			<string>Daley T.</string>
			<string>Fistric M.</string>
			<string>Grossman N.</string>
			<string>Hutchinson A.</string>
			<string>Jancevski D.</string>
			<string>Niskanen M.</string>
			<string>Robidas S.</string>
			<string>Skrastins K.</string>
			<string>Stafford G.</string>
			<string>Vishnevskiy I.</string>
			<string>Woywitka J.</string>
			<string>Auld A.</string>
			<string>Climie M.</string>
			<string>Krahn B.</string>
			<string>Turco M.</string>
		</array>
		<key>DET</key>
		<array>
			<string>Abdelkader J.</string>
			<string>Bertuzzi T.</string>
			<string>Cleary D.</string>
			<string>Datsyuk P.</string>
			<string>Draper K.</string>
			<string>Eaves P.</string>
			<string>Filppula V.</string>
			<string>Franzen J.</string>
			<string>Helm D.</string>
			<string>Holmstrom T.</string>
			<string>Hudler J.</string>
			<string>Leino V.</string>
			<string>Maltby K.</string>
			<string>May B.</string>
			<string>Miller D.</string>
			<string>Newbury K.</string>
			<string>Williams J.</string>
			<string>Williams J.</string>
			<string>Zetterberg H.</string>
			<string>Ericsson J.</string>
			<string>Janik D.</string>
			<string>Kindl J.</string>
			<string>Kronwall N.</string>
			<string>Lebda B.</string>
			<string>Lidstrom N.</string>
			<string>Lilja A.</string>
			<string>Meech D.</string>
			<string>Rafalski B.</string>
			<string>Stuart B.</string>
			<string>Howard J.</string>
			<string>Osgood C.</string>
		</array>
		<key>EDM</key>
		<array>
			<string>Brule G.</string>
			<string>Cogliano A.</string>
			<string>Comrie M.</string>
			<string>Gagner S.</string>
			<string>Hemsky A.</string>
			<string>Horcoff S.</string>
			<string>Jacques J.</string>
			<string>McDonald C.</string>
			<string>Minard C.</string>
			<string>Moreau E.</string>
			<string>Nilsson R.</string>
			<string>O'Marra R.</string>
			<string>O'Sullivan P.</string>
			<string>Penner D.</string>
			<string>Pisani F.</string>
			<string>Potulny R.</string>
			<string>Pouliot M.</string>
			<string>Reddox L.</string>
			<string>Stone R.</string>
			<string>Stortini Z.</string>
			<string>Arsene D.</string>
			<string>Chorney T.</string>
			<string>Gilbert T.</string>
			<string>Grebeshkov D.</string>
			<string>Peckham T.</string>
			<string>Smid L.</string>
			<string>Souray S.</string>
			<string>Staios S.</string>
			<string>Strudwick J.</string>
			<string>Visnovsky L.</string>
			<string>Drouin-Deslauriers J.</string>
			<string>Dubnyk D.</string>
			<string>Khabibulin N.</string>
		</array>
		<key>FLA</key>
		<array>
			<string>Booth D.</string>
			<string>Campbell G.</string>
			<string>Duco M.</string>
			<string>Dvorak R.</string>
			<string>Frolik M.</string>
			<string>Horton N.</string>
			<string>Kreps K.</string>
			<string>MacIntyre S.</string>
			<string>Matthias S.</string>
			<string>McArdle K.</string>
			<string>Mink G.</string>
			<string>Moore D.</string>
			<string>Olesz R.</string>
			<string>Oreskovich V.</string>
			<string>Reinprecht S.</string>
			<string>Repik M.</string>
			<string>Stillman C.</string>
			<string>Taffe J.</string>
			<string>Tarnasky N.</string>
			<string>Weiss S.</string>
			<string>Allen B.</string>
			<string>Ballard K.</string>
			<string>Garrison J.</string>
			<string>Koistinen V.</string>
			<string>Kulikov D.</string>
			<string>Leopold J.</string>
			<string>McCabe B.</string>
			<string>Seidenberg D.</string>
			<string>Wilson C.</string>
			<string>Clemmensen S.</string>
			<string>Salak A.</string>
			<string>Vokoun T.</string>
		</array>
		<key>LAK</key>
		<array>
			<string>Brown D.</string>
			<string>Frolov A.</string>
			<string>Handzus M.</string>
			<string>Ivanans R.</string>
			<string>Kopitar A.</string>
			<string>Lewis T.</string>
			<string>Loktionov A.</string>
			<string>Moller O.</string>
			<string>Parse S.</string>
			<string>Purcell T.</string>
			<string>Richardson B.</string>
			<string>Schenn B.</string>
			<string>Segal B.</string>
			<string>Simmonds W.</string>
			<string>Smyth R.</string>
			<string>Stoll J.</string>
			<string>Westgarth K.</string>
			<string>Williams J.</string>
			<string>Zeiler J.</string>
			<string>Doughty D.</string>
			<string>Drewiske D.</string>
			<string>Greene M.</string>
			<string>Harrold P.</string>
			<string>Johnson J.</string>
			<string>Jones R.</string>
			<string>Martinez A.</string>
			<string>O'Donnell S.</string>
			<string>Scuderi R.</string>
			<string>Ersberg E.</string>
			<string>Quick J.</string>
		</array>
		<key>MIN</key>
		<array>
			<string>Belanger E.</string>
			<string>Boogaard D.</string>
			<string>Bouchard P.</string>
			<string>Brodziak K.</string>
			<string>Brunette A.</string>
			<string>Clutterbuck C.</string>
			<string>Earl R.</string>
			<string>Ebbett A.</string>
			<string>Gillies C.</string>
			<string>Havlat M.</string>
			<string>Hilbert A.</string>
			<string>Irmen D.</string>
			<string>Kobasew C.</string>
			<string>Koivu M.</string>
			<string>Latendresse G.</string>
			<string>Miettinen A.</string>
			<string>Nolan O.</string>
			<string>Sheppard J.</string>
			<string>Smith N.</string>
			<string>Sykora P.</string>
			<string>Burns B.</string>
			<string>Fraser J.</string>
			<string>Hnidy S.</string>
			<string>Johnsson K.</string>
			<string>Schultz N.</string>
			<string>Scott J.</string>
			<string>Sifers J.</string>
			<string>Zanon G.</string>
			<string>Zidlicky M.</string>
			<string>Backstrom N.</string>
			<string>Dubielewicz W.</string>
			<string>Harding J.</string>
		</array>
		<key>MTL</key>
		<array>
			<string>Cammalleri M.</string>
			<string>D'Agostini M.</string>
			<string>Desharnais D.</string>
			<string>Fortier O.</string>
			<string>Gionta B.</string>
			<string>Gomez S.</string>
			<string>Kostitsyn A.</string>
			<string>Kostitsyn S.</string>
			<string>Lapierre M.</string>
			<string>Laraque G.</string>
			<string>Maxwell B.</string>
			<string>Metropolit G.</string>
			<string>Moen T.</string>
			<string>Pacioretty M.</string>
			<string>Plekanec T.</string>
			<string>Pouliot B.</string>
			<string>Pyatt T.</string>
			<string>Stewart G.</string>
			<string>White R.</string>
			<string>Wyman J.</string>
			<string>Belle S.</string>
			<string>Bergeron M.</string>
			<string>Carle M.</string>
			<string>Gill H.</string>
			<string>Gorges J.</string>
			<string>Hamrlik R.</string>
			<string>Henry A.</string>
			<string>Mara P.</string>
			<string>Markov A.</string>
			<string>O'Byrne R.</string>
			<string>Spacek J.</string>
			<string>Weber Y.</string>
			<string>Halak J.</string>
			<string>Price C.</string>
			<string>Sanford C.</string>
		</array>
		<key>NJD</key>
		<array>
			<string>Bergfors N.</string>
			<string>Clarkson D.</string>
			<string>Davis P.</string>
			<string>Elias P.</string>
			<string>Halischuk M.</string>
			<string>Langenbrunner J.</string>
			<string>Letourneau-Leblond P.</string>
			<string>McAmmond D.</string>
			<string>Niedermayer R.</string>
			<string>Pandolfo J.</string>
			<string>Parise Z.</string>
			<string>Pelley R.</string>
			<string>Peters A.</string>
			<string>Pikkarainen I.</string>
			<string>Rolston B.</string>
			<string>Sestito T.</string>
			<string>Vrana P.</string>
			<string>Walter B.</string>
			<string>Zajac T.</string>
			<string>Zharkov V.</string>
			<string>Zubrus D.</string>
			<string>Corrente M.</string>
			<string>Davison R.</string>
			<string>Eckford T.</string>
			<string>Fraser M.</string>
			<string>Greene A.</string>
			<string>Martin P.</string>
			<string>Mottau M.</string>
			<string>Murphy C.</string>
			<string>Oduya J.</string>
			<string>Salvador B.</string>
			<string>White C.</string>
			<string>Brodeur M.</string>
			<string>Danis Y.</string>
		</array>
		<key>NSH</key>
		<array>
			<string>Arnott J.</string>
			<string>Belak W.</string>
			<string>Dumont J.</string>
			<string>Erat M.</string>
			<string>Goc M.</string>
			<string>Grant T.</string>
			<string>Guite B.</string>
			<string>Hornqvist P.</string>
			<string>Jones R.</string>
			<string>Legwand D.</string>
			<string>O'Reilly C.</string>
			<string>Olvecky P.</string>
			<string>Pihlstrom A.</string>
			<string>Santorelli M.</string>
			<string>Scatchard D.</string>
			<string>Smithson J.</string>
			<string>Sullivan S.</string>
			<string>Thuresson A.</string>
			<string>Tootoo J.</string>
			<string>Ward J.</string>
			<string>Wilson C.</string>
			<string>Bouillon F.</string>
			<string>Franson C.</string>
			<string>Hamhuis D.</string>
			<string>Klein K.</string>
			<string>Laakso T.</string>
			<string>Sulzer A.</string>
			<string>Suter R.</string>
			<string>Weber S.</string>
			<string>Ellis D.</string>
			<string>Rinne P.</string>
		</array>
		<key>NYI</key>
		<array>
			<string>Bailey J.</string>
			<string>Bentivoglio S.</string>
			<string>Bergenheim S.</string>
			<string>Colliton J.</string>
			<string>Comeau B.</string>
			<string>Hunter T.</string>
			<string>Jackman T.</string>
			<string>Joensuu J.</string>
			<string>Moulson M.</string>
			<string>Nielsen F.</string>
			<string>Okposo K.</string>
			<string>Park R.</string>
			<string>Rechlicz J.</string>
			<string>Reich J.</string>
			<string>Schremp R.</string>
			<string>Sim J.</string>
			<string>Smith T.</string>
			<string>Tambellini J.</string>
			<string>Tavares J.</string>
			<string>Thompson N.</string>
			<string>Weight D.</string>
			<string>Gervais B.</string>
			<string>Hillen J.</string>
			<string>MacDonald A.</string>
			<string>Martinek R.</string>
			<string>Meyer F.</string>
			<string>Streit M.</string>
			<string>Sutton A.</string>
			<string>Witt B.</string>
			<string>Biron M.</string>
			<string>Dipietro R.</string>
			<string>Roloson D.</string>
		</array>
		<key>NYR</key>
		<array>
			<string>Anisimov A.</string>
			<string>Avery S.</string>
			<string>Boyle B.</string>
			<string>Brashear D.</string>
			<string>Byers D.</string>
			<string>Callahan R.</string>
			<string>Christensen E.</string>
			<string>Drury C.</string>
			<string>Dubinsky B.</string>
			<string>Gaborik M.</string>
			<string>Higgins C.</string>
			<string>Kotalik A.</string>
			<string>Lisin E.</string>
			<string>Parenteau P.</string>
			<string>Prospal V.</string>
			<string>Rissmiller P.</string>
			<string>Voros A.</string>
			<string>Del Zotto M.</string>
			<string>Gilroy M.</string>
			<string>Girardi D.</string>
			<string>Heikkinen I.</string>
			<string>Potter C.</string>
			<string>Redden W.</string>
			<string>Rozsival M.</string>
			<string>Sanguinetti B.</string>
			<string>Sauer M.</string>
			<string>Staal M.</string>
			<string>Johnson C.</string>
			<string>Lundqvist H.</string>
			<string>Valiquette S.</string>
		</array>
		<key>OTT</key>
		<array>
			<string>Alfredsson D.</string>
			<string>Bass C.</string>
			<string>Cheechoo J.</string>
			<string>Donovan S.</string>
			<string>Fisher M.</string>
			<string>Foligno N.</string>
			<string>Hennessy J.</string>
			<string>Keller R.</string>
			<string>Kelly C.</string>
			<string>Kinrade G.</string>
			<string>Kovalev A.</string>
			<string>Michalek M.</string>
			<string>Neil C.</string>
			<string>Regin P.</string>
			<string>Ruutu J.</string>
			<string>Shannon R.</string>
			<string>Smith Z.</string>
			<string>Spezza J.</string>
			<string>St. Pierre M.</string>
			<string>Winchester J.</string>
			<string>Zubov I.</string>
			<string>Campoli C.</string>
			<string>Carkner M.</string>
			<string>Karlsson E.</string>
			<string>Kuba F.</string>
			<string>Lee B.</string>
			<string>Phillips C.</string>
			<string>Picard A.</string>
			<string>Richardson L.</string>
			<string>Smith J.</string>
			<string>Volchenkov A.</string>
			<string>Brodeur M.</string>
			<string>Elliott B.</string>
			<string>Leclaire P.</string>
		</array>
		<key>PHI</key>
		<array>
			<string>Asham A.</string>
			<string>Betts B.</string>
			<string>Briere D.</string>
			<string>Carcillo D.</string>
			<string>Carter J.</string>
			<string>Cote R.</string>
			<string>Gagne S.</string>
			<string>Giroux C.</string>
			<string>Hartnell S.</string>
			<string>Kalinski J.</string>
			<string>Kolanos K.</string>
			<string>Laliberte D.</string>
			<string>Laperriere I.</string>
			<string>Nodl A.</string>
			<string>Powe D.</string>
			<string>Pyorala M.</string>
			<string>Richards M.</string>
			<string>Ross J.</string>
			<string>van Riemsdyk J.</string>
			<string>Ward J.</string>
			<string>Bartulis O.</string>
			<string>Carle M.</string>
			<string>Coburn B.</string>
			<string>Parent R.</string>
			<string>Pronger C.</string>
			<string>Rathje M.</string>
			<string>Syvret D.</string>
			<string>Timonen K.</string>
			<string>Tollefsen O.</string>
			<string>Boucher B.</string>
			<string>Emery R.</string>
		</array>
		<key>PHX</key>
		<array>
			<string>Bissonnette P.</string>
			<string>Boedker M.</string>
			<string>Doan S.</string>
			<string>Fiddler V.</string>
			<string>Hanzal M.</string>
			<string>Hoggan J.</string>
			<string>Hollweg R.</string>
			<string>Korpikoski L.</string>
			<string>Lang R.</string>
			<string>Lombardi M.</string>
			<string>Mueller P.</string>
			<string>Nikulin A.</string>
			<string>Perrault J.</string>
			<string>Porter K.</string>
			<string>Prucha P.</string>
			<string>Pyatt T.</string>
			<string>Tikhonov V.</string>
			<string>Turris K.</string>
			<string>Upshall S.</string>
			<string>Vrbata R.</string>
			<string>Winnik D.</string>
			<string>Aucoin A.</string>
			<string>Heshka S.</string>
			<string>Jovanovski E.</string>
			<string>Lepisto S.</string>
			<string>Michalek Z.</string>
			<string>Sauer K.</string>
			<string>Schlemko D.</string>
			<string>Vandermeer J.</string>
			<string>Yandle K.</string>
			<string>Bryzgalov I.</string>
			<string>LaBarbera J.</string>
			<string>Montoya A.</string>
			<string>Tordjman J.</string>
		</array>
		<key>PIT</key>
		<array>
			<string>Adams C.</string>
			<string>Bayda R.</string>
			<string>Brookbank W.</string>
			<string>Caputi L.</string>
			<string>Conner C.</string>
			<string>Cooke M.</string>
			<string>Crosby S.</string>
			<string>Dupuis P.</string>
			<string>Fedotenko R.</string>
			<string>Godard E.</string>
			<string>Guerin B.</string>
			<string>Jeffrey D.</string>
			<string>Kennedy T.</string>
			<string>Kunitz C.</string>
			<string>Letestu M.</string>
			<string>Malkin E.</string>
			<string>Rupp M.</string>
			<string>Staal J.</string>
			<string>Talbot M.</string>
			<string>Wallace T.</string>
			<string>Eaton M.</string>
			<string>Engelland D.</string>
			<string>Goligoski A.</string>
			<string>Gonchar S.</string>
			<string>Guenin N.</string>
			<string>Letang K.</string>
			<string>Lovejoy B.</string>
			<string>McKee J.</string>
			<string>Orpik B.</string>
			<string>Skoula M.</string>
			<string>Curry J.</string>
			<string>Fleury M.</string>
			<string>Johnson B.</string>
		</array>
		<key>SJS</key>
		<array>
			<string>Clowe R.</string>
			<string>Couture L.</string>
			<string>Ferriero B.</string>
			<string>Heatley D.</string>
			<string>Helminen D.</string>
			<string>Malhotra M.</string>
			<string>Marleau P.</string>
			<string>McGinn J.</string>
			<string>McLaren F.</string>
			<string>Mitchell T.</string>
			<string>Nichol S.</string>
			<string>Ortmeyer J.</string>
			<string>Pavelski J.</string>
			<string>Setoguchi D.</string>
			<string>Shelley J.</string>
			<string>Staubitz B.</string>
			<string>Thornton J.</string>
			<string>Vesce R.</string>
			<string>Zalewski S.</string>
			<string>Blake R.</string>
			<string>Boyle D.</string>
			<string>Callahan J.</string>
			<string>Demers J.</string>
			<string>Huskins K.</string>
			<string>Joslin D.</string>
			<string>Leach J.</string>
			<string>Murray D.</string>
			<string>Vlasic M.</string>
			<string>Greiss T.</string>
			<string>Nabokov E.</string>
		</array>
		<key>STL</key>
		<array>
			<string>Armstrong D.</string>
			<string>Backes D.</string>
			<string>Berglund P.</string>
			<string>Boyes B.</string>
			<string>Crombeen B.</string>
			<string>Eller L.</string>
			<string>Janssen C.</string>
			<string>Kariya P.</string>
			<string>King D.</string>
			<string>McClement J.</string>
			<string>McDonald A.</string>
			<string>Oshie T.</string>
			<string>Paddock C.</string>
			<string>Perron D.</string>
			<string>Porter C.</string>
			<string>Stastny Y.</string>
			<string>Steen A.</string>
			<string>Tallackson B.</string>
			<string>Tkachuk K.</string>
			<string>Winchester B.</string>
			<string>Bell B.</string>
			<string>Brewer E.</string>
			<string>Colaiacovo C.</string>
			<string>Jackman B.</string>
			<string>Johnson E.</string>
			<string>Junland J.</string>
			<string>Pietrangelo A.</string>
			<string>Polak R.</string>
			<string>Strachan T.</string>
			<string>Sydor D.</string>
			<string>Wagner S.</string>
			<string>Weaver M.</string>
			<string>Bishop B.</string>
			<string>Conklin T.</string>
			<string>Mason C.</string>
		</array>
		<key>TBL</key>
		<array>
			<string>Bochenski B.</string>
			<string>Craig R.</string>
			<string>Downie S.</string>
			<string>Fedoruk T.</string>
			<string>Fritz M.</string>
			<string>Hall A.</string>
			<string>Halpern J.</string>
			<string>Jones B.</string>
			<string>Karsums M.</string>
			<string>Konopka Z.</string>
			<string>Lecavalier V.</string>
			<string>Malone R.</string>
			<string>Roberts G.</string>
			<string>Smolenak R.</string>
			<string>St Louis M.</string>
			<string>Stamkos S.</string>
			<string>Szczechura P.</string>
			<string>Tanguay A.</string>
			<string>Veilleux S.</string>
			<string>Wright J.</string>
			<string>Foster K.</string>
			<string>Hale D.</string>
			<string>Hedman V.</string>
			<string>Krajicek L.</string>
			<string>Lashoff M.</string>
			<string>Lundin M.</string>
			<string>Meszaros A.</string>
			<string>Mihalik V.</string>
			<string>Ohlund M.</string>
			<string>Quick K.</string>
			<string>Ranger P.</string>
			<string>Smaby M.</string>
			<string>Walker M.</string>
			<string>Wishart T.</string>
			<string>Helenius R.</string>
			<string>Niittymaki A.</string>
			<string>Ramo K.</string>
			<string>Smith M.</string>
		</array>
		<key>TOR</key>
		<array>
			<string>Blake J.</string>
			<string>Bozak T.</string>
			<string>Brent T.</string>
			<string>Deveaux A.</string>
			<string>Grabovski M.</string>
			<string>Hagman N.</string>
			<string>Hanson C.</string>
			<string>Kessel P.</string>
			<string>Kulemin N.</string>
			<string>Mayers J.</string>
			<string>Mitchell J.</string>
			<string>Ondrus B.</string>
			<string>Orr C.</string>
			<string>Ponikarovsky A.</string>
			<string>Primeau W.</string>
			<string>Rosehill J.</string>
			<string>Stajan M.</string>
			<string>Stalberg V.</string>
			<string>Stempniak L.</string>
			<string>Wallin R.</string>
			<string>Beauchemin F.</string>
			<string>Exelby G.</string>
			<string>Finger J.</string>
			<string>Frogren J.</string>
			<string>Gunnarsson C.</string>
			<string>Kaberle T.</string>
			<string>Komisarek M.</string>
			<string>Oreskovic P.</string>
			<string>Schenn L.</string>
			<string>Van Ryn M.</string>
			<string>White I.</string>
			<string>Gustavsson J.</string>
			<string>MacDonald J.</string>
			<string>Toskala V.</string>
		</array>
		<key>VAN</key>
		<array>
			<string>Bernier S.</string>
			<string>Bliznak M.</string>
			<string>Bolduc A.</string>
			<string>Burrows A.</string>
			<string>Demitra P.</string>
			<string>Desbiens G.</string>
			<string>Glass T.</string>
			<string>Grabner M.</string>
			<string>Hansen J.</string>
			<string>Hordichuk D.</string>
			<string>Johnson R.</string>
			<string>Kesler R.</string>
			<string>Pettinger M.</string>
			<string>Raymond M.</string>
			<string>Rypien R.</string>
			<string>Samuelsson M.</string>
			<string>Sedin D.</string>
			<string>Sedin H.</string>
			<string>Shirokov S.</string>
			<string>Wellwood K.</string>
			<string>Bieksa K.</string>
			<string>Edler A.</string>
			<string>Ehrhoff C.</string>
			<string>Lukowich B.</string>
			<string>McIver N.</string>
			<string>Mitchell W.</string>
			<string>Nycholat L.</string>
			<string>O'Brien S.</string>
			<string>Rome A.</string>
			<string>Salo S.</string>
			<string>Schneider M.</string>
			<string>Luongo R.</string>
			<string>Raycroft A.</string>
			<string>Schneider C.</string>
		</array>
		<key>WSH</key>
		<array>
			<string>Aucoin K.</string>
			<string>Backstrom N.</string>
			<string>Beagle J.</string>
			<string>Bourque C.</string>
			<string>Bradley M.</string>
			<string>Clark C.</string>
			<string>Fehr E.</string>
			<string>Fleischmann T.</string>
			<string>Giroux A.</string>
			<string>Gordon A.</string>
			<string>Gordon B.</string>
			<string>Kane B.</string>
			<string>Knuble M.</string>
			<string>Laich B.</string>
			<string>Laing Q.</string>
			<string>Morrison B.</string>
			<string>Nylander M.</string>
			<string>Osala O.</string>
			<string>Ovechkin A.</string>
			<string>Perreault M.</string>
			<string>Semin A.</string>
			<string>Steckel D.</string>
			<string>Alzner K.</string>
			<string>Carlson J.</string>
			<string>Collins S.</string>
			<string>Erskine J.</string>
			<string>Green M.</string>
			<string>Jurcina M.</string>
			<string>Morrisonn S.</string>
			<string>Pothier B.</string>
			<string>Poti T.</string>
			<string>Schultz J.</string>
			<string>Sloan T.</string>
			<string>Neuvirth M.</string>
			<string>Theodore J.</string>
			<string>Varlamov S.</string>
		</array>
	</dict>
</dict>
</plist>
